
```gitignore name=.gitignore
# dependencies
node_modules
packages/*/node_modules
/.pnp
.pnp.js

# testing
/coverage
packages/*/coverage

# production
build
dist
packages/*/build
packages/*/dist

# misc
.DS_Store
.env
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local
packages/*/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

semantic-key.pem